[2022-09-05 10:50] AlexeySoshin commented on #1587
Thank you, I'll take a look into this

[2022-09-05 18:43] thamidu commented on #1586
It's somewhere in the documentation.

The reason is when creating a suspendedTransaction, it starts a transaction as a separate new one. So it really doesn't do anything if you start a txn inside another txn. It always will be a separate one. So in this case, the child's txn will still be complete while the parent gets rollback.

This is a known issue in this framework. The only thing you can do i

[2022-09-05 19:38] AlexeySoshin commented on #1586
@pablo-silverback
Thank you for providing a test case to reproduce.

Could you try the following code, please, and tell me if this is the behavior you were expecting?
[code]

[2022-09-06 02:02] eoconnor opened #1590 "Query references with additional filtering & ordering"
I'm using the DAO API of Exposed, and I have a question about querying references. Let's say I have these two tables:
[code]
And let's further say that I want to query for all a user's ratings, _but_ I also want the query to filter by results where the `UserRating.value` is above a certain threshold, _and_ I want to order the query results by the `UserRating.timestamp` value.

Does Exposed support

[2022-09-06 08:58] AlexeySoshin commented on #1590
Don't see why not?

Try something like:
[code]

You can take a look at the DAO documentation for more information:
https://github.com/JetBrains/Exposed/wiki/DAO#read

[2022-09-06 09:27] AlexeySoshin commented on #1572
Is `toMap2` function something that you wrote?

[2022-09-06 09:41] AlexeySoshin commented on #1568
@Komdosh Could you please provide the definitions of those entities, and which field have you deleted, so I could try and reproduce this?

[2022-09-06 09:50] ChA0S-f4me commented on #1572
Sure

[2022-09-06 14:07] eoconnor commented on #1590
Yes, but that doesn't filter by user. The DAO docs talk about adding this to the User entity class to make it easier to look up references:
[code]
So then you can just do this:
[code]
My question was how to _combine_ that with other query filtering.

[2022-09-06 14:21] marioalvial commented on #1565
Hi @AlexeySoshin MDCContext is from `implementation("org.jetbrains.kotlinx:kotlinx-coroutines-slf4j:1.6.0")` lib.

[code]

[2022-09-06 16:56] pablo-silverback commented on #1586
@AlexeySoshin thanks! that fixes the test case. The problem is that our code is not that simple and it looks more like this:

[code]

That's not an issue with `transaction` since we can reference the `db` object. What's the "exposed way" of running nested suspended transactions that may span multiple methods?

[2022-09-06 16:58] pablo-silverback commented on #1586
@AlexeySoshin Also, if it's a known issue like @thamidu points out, I'm happy to work on a fix for it (with some pointers of where to look). We rely heavily on exposed and would love to help improve it 🤗 (instead of work around it)

[2022-09-07 08:45] #1563 closed

[2022-09-07 09:28] Tapac commented on #1588
@pindab0ter , can you share your `Farmers` table declaration and what Java version do you use?

[2022-09-07 19:20] AlexeySoshin commented on #1590
Sorry, I misunderstood your question.

You want to do something like:
user.ratings.find { it.value > threshold }

And that it would produce a query.

From what I can see, this is isn't possible.
That code would load all ratings into memory, create a Kotlin collection, then filter that collection (sort it, etc).

You'll have to resort to something like:
[code]

[2022-09-08 07:58] xiaoliang-cn commented on #1572
@ChA0S-f4me I use the following example code to solve it
[code]
hope that helps to you。

[2022-09-08 11:30] AlexeySoshin commented on #1586
@pablo-silverback

Thank you for the proposal, and contributions would be more than welcome, but I disagree with @thamidu that it's an issue at all.

The reason the above code doesn't compile is that:
1. The function is not suspended, and suspendedTransactions requires a suspended context
2. suspendedTransaction is declared an extension function on Transaction
3.

The following code compiles and w

[2022-09-08 18:41] lucas-avila-aside commented on #1586
@AlexeySoshin hi 👋
Yes, that's right. With an extension method would work but what do you think about the following scenario:

[code]

And then let's say you have somewhere, in another class/module/package/etc:

[code]

In this case `A()` wouldn't be rollbacked because it's creating a `newSuspendedTransaction`.

I think there are ways of structuring the code to try to work-around this but wouldn't

[2022-09-08 22:27] pablo-silverback commented on #1586
@AlexeySoshin We have scenarios where `insertInner` is used as a standalone method (without a parent transaction). This is why we have nested `newSuspendedTransactions`. Exposed works seamlessly with non-supspended `transaction` calls for these scenarios and, as I understand it, there is no suspended equivalent.

My question then would be, what's the recommended way of dealing with this scenario (

[2022-09-09 09:52] Tapac commented on #1572
@xiaoliang-cn looks like you are trying to serialize UserTable with gson. Can you show the complete stacktrace to confirm it?

[2022-09-09 09:56] Tapac commented on #1568
@Komdosh , did you remove foreign key constraint as well?
Or you just remove mapping to the column?

[2022-09-09 13:50] ov7a opened #1591 "Nested queries for delete statement"
As stated in #248, alias can be used for an inner query.
However, looks like this doesn't work with `DELETE` statement.
Can I express a query like this with Exposed?
[code]

[2022-09-09 18:19] leoneparise commented on #1586
I had this scenario and created an utility function which to solve it:
[code]

[2022-09-09 19:25] AlexeySoshin commented on #1565
Thanks, that's helpful.
`MDCContext()` creates a new empty coroutine scope.

If you want to pass the entire MDC context, you can do it like that:

[code]

[2022-09-10 20:39] SchweinchenFuntik commented on #1081
yes I'm stupid. I read the code incorrectly

[2022-09-10 20:39] #1081 closed

[2022-09-10 23:39] IgnatBeresnev opened #1593 "Question: what happens with caching when using DSL alongside DAO"
Hi!

Recently I stumbled upon the same problem as described in https://github.com/JetBrains/Exposed/issues/914, where I have to upsert a value ([using this library](https://github.com/PerfectDreams/ExposedPowerUtils/blob/6004dc905372378d2297c3d19a51e091b9ad18e2/postgres-power-utils/src/main/kotlin/net/perfectdreams/exposedpowerutils/sql/upsert.kt#L22)) and then retrieve it by calling `Entity.findB

[2022-09-10 23:54] IgnatBeresnev commented on #488
For anyone finding this when Googling, _it seems_ you can disable it via database config:
[code]

[2022-09-12 20:32] pablo-silverback commented on #1586
@leoneparise using that definition of `inTransaction` this test case passes (when it should not)

[code]

[2022-09-13 06:25] iPisces77 opened #1594 "A NoSuchMethodError was encountered"
I am using
Springboot+kotlin+Exposed to create a RBAC service, when I use Exposed query, I get the following error
![image](https://user-images.githubusercontent.com/39837211/189825706-60d65a31-6a4c-469d-ae76-4c3371441a79.png)
I have tried 0.39.2 0.39.1, the error is still there

[2022-09-13 08:48] AlexeySoshin commented on #1594
Could you post your `build.gradle`/`pom.xml`, please?

My guess would be that you're missing the Kotlin DateTime library at runtime:
https://mvnrepository.com/artifact/org.jetbrains.exposed/exposed-kotlin-datetime/0.39.2

[2022-09-13 11:33] Tapac commented on #1594
It will be fixed in the next release. Duplicate of #1556

[2022-09-13 11:33] #1594 closed

[2022-09-13 12:56] Komdosh commented on #1568
@AlexeySoshin  I can't really reproduce that
@Tapac I've just remove a mapping to the column

[2022-09-13 14:30] Tapac commented on #1568
Looks like the problem is that Exposed located foreign key and can't find corresponding column in mapping. I'll take a look how it can be solved.

[2022-09-14 00:09] emise commented on #351
+1!

[2022-09-14 06:30] thamidu commented on #1586
I did some dig up on how those things works. So I recreated all of the above codes and compared them with the SQL query log of my MariaDB Server.  Those are my findings.

### Specs:
**MariaDB** - 10.2.11
**Ktor** - 2.0.1
**Exposed** - 0.38.2
**mysql-connector-java** - 8.0.29
**HikariCP** - 5.0.1
[code]

### Case 01 (Initial question)

**Code -**
[code]
**MariaDB Log -**
[code]
**Conclusion -** As

[2022-09-14 07:40] thamidu commented on #1591
There is `eqSubQuery` method to compare equals of sub query. The usage is
[code]
As per my knowledge, for <=, you need to write a custom implementation. Please check this. I have not tested it.
[code]

with that implemented, you may use it like this.
[code]

[2022-09-14 07:57] ov7a commented on #1591
Worked like a charm with
[code]
Thank you very much!

[2022-09-14 07:57] #1591 closed

[2022-09-14 10:16] #1525 closed

[2022-09-14 17:53] hennihaus commented on #167
Hello together,

I have implemented the batchUpsert like shown in @red-avtovo and @MrPowerGamerBR solutions. While looking into the logs of the JDBC PostgreSQL driver I can see that there are multiple batch statements and not one as expected. I already set `reWriteBatchedInserts=true` and actually, the entries are batched, but the first batch contains four elements, the second batch statements 2 e

[2022-09-14 18:14] MrPowerGamerBR commented on #167
@hennihaus

This is how the PostgreSQL JDBC driver works, IIRC it tries splitting up the statements in batchs of power of 4 (4, 8, 16, etc etc etc, up to 128)

[2022-09-14 19:31] p4ulor commented on #1513
@SchweinchenFuntik
I clicked this button which I think also does a "gradle sync", but it's named different, so I'm not sure
![image](https://user-images.githubusercontent.com/32241574/190245287-96eb98e4-a7b2-49a9-ac51-4b943ab8d3f0.png)

But it worked me. Thanks

[2022-09-15 07:45] #1513 closed

[2022-09-15 07:52] Tapac commented on #1591
Another approach is to use `wrapAsExpression` and provide your column type as T:
[code]

[2022-09-15 11:42] hennihaus commented on #1432
@raphaelbussa Did you find any solution?

[2022-09-15 14:24] Estradiaz opened #1595 "UPDATE ... FROM name1name2, <- there is a comma missing"
The following snippet

[code]
results in a missing comma if above case is true and `joinParts` is not empty.

https://github.com/JetBrains/Exposed/blob/b906512ecbcc562fb156e62379666bbd1f2ece5b/exposed-core/src/main/kotlin/org/jetbrains/exposed/sql/vendors/PostgreSQL.kt#L151

I guess the same applies here:

https://github.com/JetBrains/Exposed/blob/e926b0cdc88edced464ab16e4a7088dfc55670fc/exposed-c

[2022-09-15 17:14] Tapac commented on #1578
Also, please check [Join part](https://github.com/JetBrains/Exposed/wiki/DSL#join) of Wiki, full `join` syntax can help you.

[2022-09-16 19:52] marioalvial commented on #1565
Hi @AlexeySoshin you dont even need to pass the context map as a parameter because the default value of this parameter already is the result of the function `MDC.getCopyOfContextMap()`.

But the problem is that the function `newSuspendedTransaction` does not accept the MDCContext instance (it highlights as a compile error) because the function accepts a CoroutineDispatcher and the MDCContext is a

[2022-09-17 22:13] dummyco opened #1597 "EntityID as Number"
Hello! Thank you for that amazing framework.
Is there a way to get an underlying number (long) column expression from `EntityID` provided by `LongIdTable`?
For instance, to implement id-based shuffling with a modulo:
`AnyTable.id mod shuffleSeed`

[2022-09-17 22:18] SchweinchenFuntik opened #1598 "Generated table for enumeration column type"
Generate dictionary table for Enum.

Motivation: for the correctness of the scheme, especially useful for other systems that will also work with the database

[code]

We get in the database:
[code]

[2022-09-17 22:21] SchweinchenFuntik commented on #1598
it is possible to add a similar function to `SchemeUtils`, who needs to call

[2022-09-20 09:05] smelfungus opened #1599 "DAO and DB defaults don't support in batch inserts"
Hello!
What would be the correct strategy for DAO to rely on DB defaults and not force clients to define them?

[code]

`seed` is always generated on the DB side, and we want clients to know nothing about the logic behind the seed generation nor set some fallbacks/defaults. The insert attempt results in:

[code]

[2022-09-20 09:19] dummyco commented on #1599
Or, if it is technically impossible, maybe there's a way to avoid `batchInsert` in `flushInserts` and use some sort of strategy that will allow DB defaults with no client backup?

[2022-09-21 08:04] Tapac commented on #1597
Do you mean SQL `mod` not kotlin one?

[2022-09-21 09:59] dummyco commented on #1597
@Tapac yes! So, at the end of the day, to have the ability to write something like that:

[code]

[2022-09-21 13:58] szakerx commented on #1574
Tried this?
`Database.connect(
    url = connectionUrl,
    user = username,
    password = password,
    databaseConfig = DatabaseConfig { keepLoadedReferencesOutOfTransaction = true }
  )`

[2022-09-22 10:13] AlexeySoshin commented on #1597
@dummyco
I think this should be already supported:
[code]

[2022-09-22 10:17] AlexeySoshin commented on #1599
Could you elaborate a bit more on that, please?
You mention DAO, but you posted just your table definition, not your entity definition.
And if you can, please also post how exactly you're making those batch inserts, so it would be easier to reproduce.

Thanks!

[2022-09-22 11:07] dummyco commented on #1597
@AlexeySoshin it seems like `ModOp` is expecting `<T : Number?, S : Number?>` expressions, but `EntityID` does not satisfy it

[2022-09-22 11:22] dummyco commented on #1599
@AlexeySoshin thank you for getting back to me!
So we have a table definition like this one:

[code]

And corresponding entity of this type:

[code]

The database defines `seed` as:

[code]

When we're trying to insert a new Entity as:

[code]

We're getting the following error:

[code]

While we can apply `val seed = long("seed").nullable()` nullable workaround to trick `isDefaultable` Exposed me

[2022-09-23 12:05] AlexeySoshin commented on #1599
Thank you.
After looking at the code some more, I don't think this is currently supported.
Exposed expects to set values for all columns it knows about. If you remove `seed` column from `MyTable`, it will work, but from your other question I guess you still would want to read the data from that column, just not to set it.

Seems that what you'd like is to have something like `@Transient` from JPA:

[2022-09-23 18:24] #1595 closed

[2022-09-26 07:42] AlbRoehm commented on #1575
Anyone maybe has an idea how to handle this situation? Not upgrading the package anymore does not seem to good. Maybe i'm also just doing it wrong? Any hints appreciated. Thanks.

[2022-09-26 13:43] rustamsmax commented on #635
2 years have passed. I see this feature has appeared on your roadmap. It would be a good alternative to SqlDelight if it supports iOS

[2022-09-26 20:41] lifestreamy commented on #1556
The same happens for me.
[code]

Build.gradle :
[code]

[2022-09-26 20:43] lifestreamy commented on #1556
When setting JVM target to 1.6:
`e: JVM target 1.6 is no longer supported. Please migrate to JVM target 1.8 or above

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':compileKotlin'.

[2022-09-26 20:49] lifestreamy opened #1600 "java.lang.NoSuchMethodError: 'long kotlin.time.TimeSource$Monotonic.markNow-z9LOYto()'"
[code]

Build.gradle :

[code]
When setting JVM target to 1.6:

[code]
And with 1.8 and above I get the same error with markNow()

[2022-09-26 21:06] lifestreamy commented on #1600
Everything is working correctly without errors with Exposed version 38.2

[2022-09-27 09:05] Tapac commented on #1600
Duplicate of #1556. Fix will be available on a week

[2022-09-27 09:05] #1600 closed

[2022-09-27 09:38] AlexeySoshin commented on #1597
After looking at the code some more, my comment above is incorrect, and what you need is `rem` operator, not `mod` operator.
As you correctly point out, `ModOp` executes mod operation in the database, and that's what you want.

The reason `ModOp` doesn't work with `EntityID` is because the type is tight at the moment:
https://github.com/JetBrains/Exposed/blob/9b561b02971b13e7445aa37223dbfabfd419d1

[2022-09-27 12:50] OlegZavrazhin commented on #843
@Auronake I have the same.
@Tapac Why issue has been closed?

[2022-09-27 14:15] AlexeySoshin commented on #1565
The solution from above did compile when I tested it, but I'm testing it on Exposed directly, so maybe this fix was there, but not released yet, though.

Do you consider the issue resolved, or is there still a problem?

[2022-09-27 17:19] pablo-silverback commented on #1586
@thamidu thanks for the deep analysis, unfortunately that approach relies on ThreadLocal, which is not AFAIK safe between kotlin coroutines.

For something like this to be safe I believe exposed should take into consideration something like the [context pattern](https://kotlinlang.org/docs/coroutine-context-and-dispatchers.html#thread-local-data) (also used in Go's goroutines).

//cc @AlexeySoshin

[2022-09-27 23:18] dummyco commented on #1597
@AlexeySoshin, thank you for looking into it and posting a PR. The solution with separate `EntityID`-friendly operators and `Op`-s sounds good. I wonder if Exposed should have this support for all the numeric (and maybe not only numeric but any applicable) operations to a type, wrapped by `EntityID`. Maybe even some sort of a generic approach that would allow Exposed to unwrap the `EntityID` type

[2022-09-27 23:37] dummyco commented on #1599
@AlexeySoshin, I'm afraid the idea behind JPA's `@Transient` is more about dropping the annotated field from DB persistence (both reads and writes) and just using this field with some application runtime logic?

Two vital points are coming to my mind for our case:
1) I think we eventually want to have this DB-default field updatable (support both `var` and `val` table definition, let's imagine we

[2022-09-28 08:13] pindab0ter commented on #1588
The table name was already explicitly defined:

[code]

---

The project uses Java version 11 (Azul Zulu 11.0.16, specifically), defined through `kotlinOptions.jvmTarget` and as the Project SDK in IntelliJ.

This is what `Farmers.kt` looks like:

[code]

I would like to reiterate that version 0.38.2 doesn't have this problem.

[2022-09-28 17:30] Tapac commented on #1588
I was able to reproduce the bug, will fix it with next release.
As a workaround you can move table name into table declaration like:
[code]
It should help

[2022-09-28 19:10] pindab0ter commented on #1588
Awesome! Glad to hear you were able to reproduce the problem.

Thank you for providing a workaround as well. I will give that a go.

Do you want to leave this issue open until there’s a commit/PR/release with a fix, or should I close it?

[2022-09-28 19:14] Tapac commented on #1588
I'll close it just after all tests will pass on CI.
The fix is on the way.

[2022-09-28 20:54] gowelaine opened #1602 "About Schema Changes and table drop behaviour in runntime"
Hi, I try to figure out this, but here is not very clear documentation.
What is the behaviour of schema change and table drop using exposed sql?

For instance, currently I'm using mysql with exposed sql.

1. Initially,  I create tables with schema list, say:
 tables: [LoveTable, EatTable, PreyTable] using SchemaUtils.createMissingTablesAndColumns(*tables)

The tables will be created in our backend

[2022-09-28 23:30] #1588 closed

[2022-09-29 18:49] nikijaz opened #1604 "USE INDEX()"
Is it possible to use `USE INDEX()` with the DSL API? Tried everything, could only use pure SQL

[2022-10-01 18:13] Tapac commented on #914
Entity cache invalidation implemented in `EntityLifecycleInterceptor` and you have to implement (and register) your own intercepter and make it similar to `UpdateStatement` branch. Or inherit from Exposed UpdateStatement.

[2022-10-02 09:29] Tapac commented on #1581
Do you create tables with Exposed or you use existing table? Can you share `CREATE TABLE` statement for your Locations db?

[2022-10-02 09:30] Tapac commented on #1574
https://github.com/JetBrains/Exposed/blob/master/docs/ChangeLog.md#0351 Please check `keepLoadedReferencesOutOfTransaction` part

[2022-10-02 09:33] Tapac commented on #1570
Exposed 0.39.x should work with Kotlin 1.6. Can you please describe the problem you've faced in more details?

[2022-10-02 09:45] Tapac commented on #1568
Should be solved in the next release

[2022-10-02 09:45] #1568 closed

[2022-10-02 09:48] Tapac commented on #1565
@marioalvial  after #1592 `newSuspendedTransaction` accepts `CoroutineContext` instead of dispatcher.
Will this resolve the issue?

[2022-10-02 21:00] #1550 closed

[2022-10-03 06:29] qfewzz commented on #1533
override val primaryKey = PrimaryKey(uuid, char,"pk_$tableName")

[2022-10-03 14:31] trebsoj commented on #43
bump

[2022-10-04 02:25] bandrefilipe commented on #1556
Hi @Tapac! When should we expect a new release with this fix to be out?

[2022-10-04 09:09] H4kt commented on #623
Any updates on this?
I would really like to see something like `extract(epoch from ...)`

[2022-10-04 15:16] lifestreamy commented on #1556
@bandrefilipe until it is fixed I'd suggest using Exposed version 38.2. Works for me without errors.

[2022-10-04 15:19] lifestreamy commented on #1556
https://github.com/JetBrains/Exposed/issues/1600#event-7466442875
Here I posted a duplicate of this to get some attention to the issue.

They commented 7 days ago:
"Fix will be available in a week"

We'll see

[2022-10-04 15:52] Tapac commented on #1556
Sorry for a delay with release, there were few issues required attention before it. Will be released today.

[2022-10-05 15:08] AlexeySoshin commented on #1604
Please correct me if I'm wrong, but `USE INDEX()` is something only Oracle has.
If that's the case, then probably it's something that shouldn't be in DSL.
But happy to be corrected.

[2022-10-05 20:50] nhalase commented on #127
If it's helpful for anyone, when I switched to using the Exposed DAO implementation, the solutions here no longer worked.

Using the DAO code was returning `Map<*, *>` rather than `PGobject` in some cases. I'm not sure if this is a bug, but it was hard to replicate and easier to fix in the `valueFromDB` method.

[code]

[2022-10-06 18:52] lifestreamy opened #1605 "Not recognized .primaryKey() , val date = datetime("date")"
file Users.kt
[code]
Not recognized even if put in a class or in a companion object

My build.gradle:
[code]

[2022-10-06 22:53] Tapac commented on #1605
1. `Column.primaryKey` was removed use `override val primaryKey` on Table or just use `IntIdTable`
2. To use `datetime` you have add dependency to one of datetime modules, please check [wiki](https://github.com/JetBrains/Exposed/wiki/LibDocumentation#exposed-0181-and-higher)

[2022-10-06 22:53] #1605 closed

[2022-10-07 07:46] ov7a commented on #1586
Hi! Could anyone clarify, why nested suspending transactions code (as recommended by @AlexeySoshin)
[code]
has different behavior in comparison with regular transactions?
[code]
With suspended transactions only one transaction is actually created and reused for both statements. But with regular transactions two transactions are created, one having another as outerTransaction.

[2022-10-07 11:30] lifestreamy commented on #1605
Yes, I figured about override but I am still not sure how to use it

[2022-10-07 11:36] lifestreamy commented on #1605
inner class PrimaryKey also has a comment //Unresolved attached to it

[2022-10-07 11:51] Tapac commented on #1605
Can you share you new code sample?

[2022-10-07 12:53] lifestreamy commented on #1605
![image](https://user-images.githubusercontent.com/44506462/194558382-bd8b0f28-73f4-43a1-9738-69210658f762.png)

[2022-10-07 12:54] lifestreamy commented on #1605
I have no idea how to do this in kotlin tbh

[2022-10-07 12:57] lifestreamy commented on #1605
Like this?
![image](https://user-images.githubusercontent.com/44506462/194559117-8509d14a-360c-4705-a9c1-a2c32a0c8111.png)

[2022-10-07 13:50] boohba commented on #456
I got a wife and 2 beautiful children

[2022-10-07 14:46] Tapac commented on #1605
Please check that
[code]

[2022-10-07 15:57] lifestreamy commented on #1605
Thank you for your help, Tapac! No errors from the compiler so far.

[2022-10-07 16:36] lifestreamy commented on #1605
@Tapac also, could you please, help, what type in Exposed corresponds to "time with time zone" in PostgreSQL? I am using Exposed 38.2 now because error with Monotonic.markNow is not yet resolved, and time is commented out (see screenshot)
![image](https://user-images.githubusercontent.com/44506462/194603691-3f419b36-8945-4c01-a5e5-2f92e99e5bfc.png)

[2022-10-07 17:11] lifestreamy opened #1606 "Exposed 38.2/39.2, fun Table.time(name: String): Column<LocalTime> is unavailable"
fun Table.time(name: String): Column<LocalTime> = registerColumn(name, JavaLocalTimeColumnType()) is commented out
Thus, can't use it (see screenshot)
![image](https://user-images.githubusercontent.com/44506462/194612782-90e53f6c-dd0c-490c-9a9f-7853be0cbaab.png)

[2022-10-07 18:05] vinh0604 opened #1607 "`newSuspendedTransaction` connecting to old database instances across test cases"
Hi,
I'm working on a web service using Ktor 1.6.8 and Exposed 0.39.2.
My application module and database is setup as following:
[code]
I use ktor-server-test-host, Test Containers and junit 5 to test the service. My test looks similar like below:
[code]

I observed an issue that if I ran multiple test classes together, some requests ended up using old Exposed db instance that was setup in a previo

[2022-10-07 19:25] gowelaine commented on #1602
Also, how to drop a table properly?
Should i remove the table schema?

[2022-10-08 10:01] Tapac commented on #1606
`LocalTime` wasn't supported in `kotlinx.datetime` previously, looks like it's available in 0.40 version.
Will be available in the next Exposed release.

[2022-10-10 10:25] #1606 closed

[2022-10-11 06:50] InsanusMokrassar opened #1608 "Why ColumnSet is abstract class?"
I looked in sources of `ColumnSet` and didn't found any reason to make it `abstract class`. Could you please explain, why it was decided to make `ColumnSet` as `abstract class`?

[2022-10-12 09:33] radekoziol commented on #1155
Still a problem 😢

[2022-10-12 13:59] tilpap opened #1609 "Question: How to append a value in an array of Dates"
Say that we have a "users" Table that has a column "history_dates" that has arrays of Date (Date[] in postgres), that is updated each time a user does an action, and a date is appended.

The SQL statement for that is (example date '2022-01-01'):

[code]

How do you do this with Exposed?

I tried:
[code]

but I'm getting this error:

Thank you.

[2022-10-13 04:49] MoktanP commented on #43
bump

[2022-10-13 08:23] #1609 closed

[2022-10-13 08:43] gytis-ivaskevicius commented on #456
Code before family! :pleading_face: :heart:

[2022-10-13 11:13] lukas-krecan opened #1610 "deleteWhere regression in 0.40.1"
After upgrading to 0.40.1 the following code does not compile

[code]
Getting `Unresolved reference: eq`

[2022-10-13 11:18] ChA0S-f4me opened #1611 "Reproduce entities as data classes"
Is there any way for reproducing entities as data classes? I need it for serializing data from DB

[2022-10-16 07:58] SchweinchenFuntik commented on #1598
add a special annotation `@GenerateEnumTable` (tentative name), which will tell `SchemeUtils` to generate or update the table data for this enum.

[2022-10-16 17:31] Intex32 commented on #1576
What is the outcome of this suggestion? Is it possible to get both total count and current page's rows in one query with the OVER clause? @bayang
In my project I'm issuing two queries because I found no satisfying alternative.

[2022-10-17 10:12] lehvolk commented on #1581
Yes. Tables created with SchemaUtils. As a result SQL query is produced by SchemaUtils.

[2022-10-18 09:31] bayang commented on #1576
No, I didn't manage to do it in one query. I'm still using two queries at the moment.
But I'm not very proficient at sql so somebody else might have succeeded.

[2022-10-18 10:32] terminalnode opened #1612 "Can't set client default on nullable columns"
This seems to work:
[code]
but this does not:
[code]
setting clientDefault to null before nullable also doesn't work because the type doesn't support it at that point in the chain. This seems to be because `clientDefault` extends `<T : Any> Column<T>` while default just extends `<T> Column<T>`.

Is there a reason not to support nullable columns here?

[2022-10-18 17:15] aqeeliz commented on #1611
I don't think there is currently any way to do this. You have to manually create data class for each entity.
Check this for some discussion and solutions on this topic: https://github.com/JetBrains/Exposed/issues/497

[2022-10-19 08:08] Tapac commented on #1610
I will take a look into it, for now you can simple remove `Table.` from a lambda

[2022-10-20 15:37] jasondashwang commented on #1558
I would also like a form of virtual columns on defining table schema.

[2022-10-22 09:09] GoryMoon commented on #1610
You need to import this now for it to work
[code]

[2022-10-22 15:22] ChA0S-f4me commented on #1611
Well, I just created data classes for JSON objects and entities classes for DB

[2022-10-22 15:22] #1611 closed

[2022-10-23 08:45] yoonjoynow opened #1613 "do Exposed use raw SQL when running DSL?"
As i know, QueryDSL is use JPQL not SQL. S using QueryDSL, there are restrictions in using QueryDSL.
Then, Exposed use raw SQL?

[2022-10-23 23:16] yoonjoynow opened #1614 "can i use null alias in SELECT query?"
using union query, i wanna write null alias like
[code]

how can exposed use null alias?

[2022-10-24 11:24] lukas-krecan commented on #1610
The import helps, thanks. Can you please mention it in the release notes as a breaking change?

[2022-10-28 07:41] Jens1977 opened #1615 "H2 create Oracle Database"
I have created a springboot app that uses exposed to connect to an oracle database. I use H2 in my unit-tests.
When I use Mode=Oracle in the connection string, tables cannot be created because of the following error:

[42001-214] on BIGINT AUTO_INCREMENT PRIMARY KEY

I noticed an OracleDialect class. Can I use this so that tables are created using Oracle syntax? If yes, how can I implement it?

[2022-10-28 17:48] robertatpw opened #1616 "NPE Accessing Entity Property"
**Description**
Recently upgraded from Exposed v0.17.7 to v0.39.2.  Initially everything looked great until we moved to production and started finding this exception occurring intermittently.  Running this code millions of times a day produces the following exception less than 10 times a day but it seems to indicate there is some change in the Exposed Entity / EntityClass which is failing now wher

[2022-10-28 18:45] AlexeySoshin commented on #1613
I'm not sure which QueryDSL you mean.
If you mean the Exposed SQL DSL, then it is unrelated to JPQL.
Or another way to put it, both Exposed SQL DSL and JPQL are DSLs that are translated into SQL.
But they are unrelated.

[2022-10-28 19:12] harinivas-ganapathy opened #1617 "Java heap space error when writing > 2 GB file content as Blob into Oracle Table"
I have scenario to read a remote file of >2 GB file into an Oracle Blob Column. When ever the remote file size is > 1.2 GB I am am getting Java heap space error.

Below is my implementation? Can you please help?

[code]

[2022-10-28 21:31] AlexeySoshin commented on #1610
@Tapac probably related to this:
https://github.com/JetBrains/Exposed/pull/1561

[2022-10-28 21:53] AlexeySoshin commented on #1612
The reason you can't write
[code]

is because `nullable` returns `Column<T?>` while `clientDefault` expects `Column<T>`

One option is to change the type definition of `clientDefault` from `<T : Any>` to `<T : Any?>`

But I'm not sure if that won't cause some nuanced issues down the line.

[2022-10-28 22:03] AlexeySoshin commented on #1616
I took a look, and I don't see any changes between 0.17.4 and 0.40.1 around either `readValues`
https://github.com/JetBrains/Exposed/blob/master/exposed-dao/src/main/kotlin/org/jetbrains/exposed/dao/Entity.kt#L42
Or the `lookup`:
https://github.com/JetBrains/Exposed/blob/master/exposed-dao/src/main/kotlin/org/jetbrains/exposed/dao/Entity.kt#L190

I'm wondering, though, is the `Affiliate` model tha

[2022-10-29 09:54] AlexeySoshin commented on #1617
Looking at the code, I think Exposed doesn't handle LOBs that well at the moment:
https://github.com/JetBrains/Exposed/blob/98bdca8a1563a34af9d3d7a357c9b0c0f5fae7e3/exposed-core/src/main/kotlin/org/jetbrains/exposed/sql/statements/api/ExposedBlob.kt#L3

Here the Exposed Blob wrapper will create a copy of LOB in the memory.

Now, under the hood, when writing to the database it actually uses `inputS

[2022-10-29 10:18] AlexeySoshin commented on #1614
You can try and define your own expression for that:

[code]

   This results in the following SQL:
[code]

Hope that helps!

[2022-10-29 10:24] AlexeySoshin commented on #1586
@pablo-silverback Kotlin coroutines support context.

You can see some examples there:
https://github.com/JetBrains/Exposed/issues/1565

[2022-10-29 11:50] Nek-12 opened #1618 "Support default expression value of another field in a table"
I want to match exposed schema declaration to the following sql:
[code]
(this won't work with raw sql but is this possible with exposed?)

But how can I do this using exposed syntax, except for defining my own custom expression?
I couldn't find ways to convert column to Expression, couldn't do it using CustomFunction, haven't found any other ways

[2022-10-29 12:01] AlexeySoshin commented on #1618
You should be able to do that using `defaultExpression()` syntax.

You didn't post your table definition, but I would expect that something like

`kotlin
object EntryTable : UUIDTable() {
    val entryId = uuid("entry_id").defaultExpression(EntryTable.id)
}
[code]

[2022-10-29 12:19] Nek-12 commented on #1618
@AlexeySoshin

I'm using an UUIDTable:
[code]

[2022-10-30 10:17] AlexeySoshin commented on #1618
You're right, it won't work for PKs, since `EntityID<UUID> != UUID`

Probably having a custom expression is the way to go:
[code]
This generates the following SQL:
[code]

By the way, I'm curious, which database are you using?
At least PostgreSQL doesn't support this syntax:
`cannot use column reference in DEFAULT expression`

[2022-10-30 10:51] Nek-12 commented on #1618
Yeah I said that this won't work with sql, but I wanted to do this in runtime then. Wouldn't it be possible?

[2022-10-30 22:58] AlexeySoshin commented on #1618
There's `clientDefault` in Exposed that could work theoretically, but I don't think would work practically.

To reference ID of a newly created row, you need to somehow obtain it first. Currently the default values are set independently from one another:
https://github.com/JetBrains/Exposed/blob/9c0d2955424e3521abe025dcbdb932544aa8f3f1/exposed-core/src/main/kotlin/org/jetbrains/exposed/sql/stateme

[2022-10-31 03:54] harinivas-ganapathy commented on #1617
Thanks for the suggestion. I tried using raw statements, though I am not seeing any error, when I check the Oracle database I only see `null` value inserted into the Blob Column.

[2022-10-31 10:44] terminalnode commented on #1612
Wouldn't it be better to change `<T : Any>` to just `<T>`? Isn't the purpose of extending `Any` just the NP safety? If changed to `<T : Any?>` I think `T` will have to *always* be nullable rather than just being nullable when a nullable `T` is provided.

[2022-10-31 10:59] AlexeySoshin commented on #1617
Are you sure that your input stream is not-null?

[2022-10-31 11:01] AlexeySoshin commented on #1477
Seems related to that discussion:
https://github.com/JetBrains/Exposed/issues/1586

[2022-10-31 13:09] AlexeySoshin commented on #1612
`<T>` is the same as `<T : Any?>`

Again, I'm not sure if this won't cause some other issues.
But if you're interested, you're welcome to create PR and see if all the tests pass :)

[2022-10-31 13:33] harinivas-ganapathy commented on #1617
Yes I could confirm the remote file has 5GB content. Also I get the Java Heap error when trying to readBytes from the input stream.

[2022-10-31 13:41] harinivas-ganapathy commented on #1617
Also, when I tried for smaller sized file I only see null value in DB. But if I do `BlobColumnType() to inStream.readBytes()` for the same smaller file I could see the right value in the blob column.

[2022-10-31 14:00] terminalnode commented on #1612
I'll give it a shot :-)

[2022-10-31 17:43] AlexeySoshin commented on #1617
`readBytes()` will always attempt to read the entire file contents into the memory.

That's why you'll get OutOfMemory for larger files.

But `BlobColumnType() to inStream` should work, although I could test it only on PostgreSQL

Two things to check:
1. `BlobColumnType() to inStream` with a small file.
2.  What's the return type of `sftp.get(filePath)`? Is it `InputStream` or something more speci

[2022-10-31 22:32] evilthreads669966 opened #1620 "Table all() function is missing"
Table doesn't have a function named all. It has selectAll but not all. It's missing in 40.0.1 and 39. This function is referenced in the documentation. You have to map the result rows with selectAll but in the documentation, it appears as if it allows you to skip this step.

[2022-11-01 08:49] #1604 closed

[2022-11-01 12:47] evilthreads669966 commented on #1620
Nevermind this.  I believe I was looking at bad documentation.

[2022-11-01 12:47] #1620 closed

[2022-11-02 22:08] ybbkrishna opened #1623 "Support for FOR UPDATE NO WAIT on postgres."
We are planning to use `FOR UPDATE NO WAIT` to return with an exception instead of getting blocked on another transaction.

is there any reason this was not added for postgres [here](https://github.com/JetBrains/Exposed/blob/96274ac411634c6764f18034db654f867ddb26f3/exposed-core/src/main/kotlin/org/jetbrains/exposed/sql/vendors/Default.kt#L691) ?

If no particular reason, we can raise a PR to suppo

[2022-11-04 10:29] androidovshchik commented on #433
Use DSL function `select` instead

[2022-11-05 04:01] minxylynx commented on #623
@H4kt This is what Ive used

custom function:
[code]
usage:
[code]

Epoch would look like
[code]

[2022-11-05 18:46] chexov commented on #1556
I am running multiplatform example project and hitting this issue with
[code]

[2022-11-05 21:57] Tapac commented on #1556
@chexov , what Exposed version do you use?

[2022-11-07 09:58] zak905 commented on #1526
Hi @wayerr,

would you mind sharing an example of you managed to achieve an insert with returning please ?

[2022-11-07 12:45] ashishs opened #1624 "Provide a way to define primary and secondary XML Indexes"
Exposed currently has no way to define xml indexes in MS SQL Server.

E.g:

[code]

Secondary xml indexes can be on PATH, VALUE, or PROPERTY
Documentation at [XML Indexes](https://learn.microsoft.com/en-us/sql/relational-databases/xml/xml-indexes-sql-server?view=sql-server-ver16)

Note: a probable fix is to allow a listOf<DdlAware> onjects to be added ad-hoc to a Table and have run after the table

[2022-11-07 14:29] wayerr commented on #1526
@zak905

[code]

[2022-11-08 13:58] zak905 commented on #1526
Hi @wayerr, I see that you posted, and removed again, any particular reason ? by the way, I still have the code you posted from the email notification

[2022-11-08 14:21] wayerr commented on #1526
@zak905  I am not sure that this code is worked properly, and I does not have time to test it.

[2022-11-08 14:27] zak905 commented on #1526
Ok thanks anyway, It seems so complex anyway, I think I will wait for https://github.com/JetBrains/Exposed/pull/1456

[2022-11-08 16:53] gel-hidden commented on #1492
Don't know if this helps, but here is related functionality in another [library](https://vincit.github.io/objection.js/api/query-builder/eager-methods.html#withgraphfetched). Would be nice to see the possibility to do something similar.

[2022-11-09 21:57] robertatpw commented on #1616
@AlexeySoshin Thank you for your reply.  Sorry it took me so long to respond.  To answer your question, we never delete the Affiliates from the database.

Since I posted this issue I do have some new information pertaining to this issue.  As a work around we implemented a retry mechanism which catches the exception and automatically retries the fetch operation which is working.

This obviously is

[2022-11-10 05:22] jiaminglu commented on #1610
Is this the suggested way? Regardless of the `ISqlExpressionBuilder` at the `it` parameter?

In my understanding, either the `ISqlExpressionBuilder` parameter is useless, or direct imports should not be used.

My current workaround:
[code]

It's kotlin's limitation of now allowing two receivers in lambda blocks. In case of two parameters competing the receiver position, libraries should make trade

[2022-11-10 20:29] ChA0S-f4me commented on #1578
Hello, sorry for late answer, it's because I forgot about my project for some time.
I need DAO syntax cuze I using referring to another entity.

Here is my tables & entities declarations:
[code]
[code]
[code]

So I need to find all `Server`s that contains `User` (see `members` field)

[2022-11-11 18:12] robertatpw commented on #1616
@AlexeySoshin There are a few other factors of which you should be aware that may not be obvious from my original posting.

1. The error is happening on other models, not just the Affiliate model.  I just picked the Affiliate model to demonstrate an issue which is most pronounced since we've upgraded.  If you would like to see other examples, I can provide additional stack traces although they are

[2022-11-11 21:18] dakriy opened #1628 "Oracle VARCHAR2 type"
In Oracle, the `VARCHAR` type is reserved and has the potential to change in the future. `VARCHAR2` should be used instead since it won't change.

[2022-11-11 23:29] Tapac commented on #1616
@robertatpw can you share the part of the code how `trafficSource.affiliate` is created/filled?

From my side, it looks like it can be built? Also, `Affiliate` entity and table mapping could help.

[2022-11-11 23:33] Tapac commented on #1578
[code]

[2022-11-12 00:07] #1623 closed

[2022-11-12 01:12] #1628 closed

[2022-11-12 19:58] Tapac commented on #1614
There is also `Op.nullOp()` that also can help

[2022-11-12 21:39] Tapac commented on #1613
Exposed uses prepared statements in both DAO and DSL. Or do I mess the question?

[2022-11-12 21:39] #1612 closed

[2022-11-12 21:41] Tapac commented on #1610
It should become better after [context receivers](https://github.com/Kotlin/KEEP/blob/master/proposals/context-receivers.md) go public

[2022-11-12 21:54] zxcqirara opened #1630 "Additional fields in many-to-many references"
I need to create many-to-many reference that will contain additional fields.
Eg I have
[code]
[code]
and I need to link `User`s on `Server`s with many-to many reference. I created table like
[code]
and understood that I need to contain another information in the `Members` and also will be helpful if I'll create entity like `Member` for easier data manipulation

[2022-11-12 22:31] Tapac commented on #1608
I don't think there were any reasons behind it. Most probably, it's a legacy thing.
But I like you concern to make it an `interface`

[2022-11-12 22:37] Tapac commented on #1581
Do have any SQLite specific parameters set to your connection?

[2022-11-12 23:03] Tapac commented on #1575
@AlbRoehm few questions:
1. Is the test fails without `Dispatchers.setMain(mainThreadSurrogate)`  (with a default dispatcher)?
2. Is the test fails without `transactionIsolation = ISOLATION_LEVEL`  in `hikari` function?
3.  Is the test fails with `transactionIsolation = Connection.TRANSACTION_SERIALIZABLE`  in `hikari` function?

[2022-11-12 23:04] Tapac commented on #1615
Support of all H2 compatibility modes will come in the next release

[2022-11-12 23:04] #1615 closed

[2022-11-12 23:06] Tapac commented on #1617
It might become better with the next release.
Now ExposedBlob stores inputStream by default, so please wait for the release and check will it helps or not.
Don't forget to replace `ExposedBlob(inStream.readBytes())` with `ExposedBlob(inStream)`

[2022-11-12 23:59] ChA0S-f4me commented on #1578
I little edited this code for me, now it looks so:
[code]

[2022-11-12 23:59] #1578 closed

[2022-11-13 00:01] ChA0S-f4me commented on #1572
I started using jackson instead of GSON, after that it started working normally

[2022-11-13 00:01] #1572 closed

[2022-11-13 00:05] #1574 closed

[2022-11-13 07:45] InsanusMokrassar commented on #1608
Ok, thanks for you answer :)

[2022-11-13 07:46] InsanusMokrassar commented on #1608
I think, we may close this issue

[2022-11-13 12:06] #1608 closed

[2022-11-13 15:50] larcos01 commented on #798
Are there any plans of adding support for views?

[2022-11-14 08:59] #1587 closed

[2022-11-14 12:37] AlexeySoshin commented on #1610
@jiaminglu I disagree with that approach, as `Table` is redundant information there.

[code]

[2022-11-14 12:42] AlexeySoshin commented on #1616
@robertatpw Thank you, that was exactly my question. I could expect a race between row deletion and the DAO cache update, but since you never delete it, that's not the issue. Also, thanks for clarification that not only `Affiliate` entity is affected.

[2022-11-14 12:48] AlexeySoshin commented on #1624
Hi @ashishs
This seems a very DB-specific feature to me.
My suggestion would be to implement this using a prepared statement instead.

[2022-11-14 12:51] AlexeySoshin commented on #1630
Hi @ChA0S-f4me
Could you elaborate a bit more on which part of that doesn't work as expected, in your case, please?

[2022-11-14 13:35] jiaminglu commented on #1610
@AlexeySoshin If you try to use the positional `ISqlExpressionBuilder` as a context,
[code]

is definitely much more unreadable than
[code]

[2022-11-14 13:37] lukas-krecan commented on #1610
If I am not mistaken, it currently behaves differently than `select`. I do not see why it should not be consistent.

[2022-11-14 13:41] ChA0S-f4me commented on #1630
I have 2 entities: Server and User. I need to store data about users that joined to the server (in my case - Members). I thought that I can use many-to-many reference, but realized that I need to store some additional data about Members (eg join time) and can store it as many-to-many reference, but also can't use entities cuze it needn't own IDs

[2022-11-14 14:01] AlbRoehm commented on #1575
Hi @Tapac,

I did the tests with `exposedVersion=0.40.1`

1. Setting `Dispatchers.setMain(Dispatchers.Default) ` does not affect the test outcome. Test fails immediately.
2. Test is still failing, either on `transaction(Connection.TRANSACTION_SERIALIZABLE, 1)` in `setupDatasource` or after 31s if i remove the isolation level in that call.
3. `transactionIsolation = Connection.TRANSACTION_SERIALIZA

[2022-11-14 14:04] AlbRoehm commented on #1575
The only way to change the outcome of the test was `isAutoCommit = true` or not setting it since it defaults to true. This result in hikari reset it after every use of the connection.
`2022-11-14 15:02:09.096 [Coroutine thread @coroutine#2] DEBUG com.zaxxer.hikari.pool.PoolBase - HikariPool-1 - Reset (autoCommit) on connection org.postgresql.jdbc.PgConnection@7e8140d0`

[2022-11-14 17:39] robertatpw commented on #1616
@Tapac Thank you for your reply.  By the way, I don't want to get too caught up on the specifics of how the Affiliate relationship works since as I mentioned previously this is happening on several different entities so it's not specific to our use of the Entity.  Really the biggest question I need to get answered is why the blocking function Entity::lookup which appears to be completely synchrono

[2022-11-14 17:58] robertatpw commented on #1616
@Tapac Following up on my last reply, here's an example where the same problem happens just accessing a property on a newly created entity.

[code]

**LoanRequestTable**
`    val identityId = uuid("identity_id").index()`

**LoanRequest**
`    override var identityId by LoanRequestTable.identityId`

A new LoanRequest entity is created on every request and passed around the code base to be reference

[2022-11-14 22:28] Tapac commented on #1597
Different mod/rem operations with EntityID columns are support since 0.41.1

[2022-11-14 22:28] #1597 closed

[2022-11-14 22:30] Tapac commented on #1617
@harinivas-ganapathy , please check with Exposed 0.41.1

[2022-11-14 22:35] Tapac commented on #1598
Should it be resolved/linked with columns by id/enum ordinal or by enum value?

[2022-11-14 23:27] Tapac commented on #1575
Please check 0.41.1 version and let me know if the issue was solved

[2022-11-15 13:52] AlbRoehm commented on #1575
Hey, sorry to inform you that the problem is still not fixed.

If i use `transaction(Connection.TRANSACTION_SERIALIZABLE, 1)` in `setupDatasource()` it still breaks immediately with:
[code]

if i `setupDatabase()` only with `transaction()` and no arguments the test fails after 31 seconds when hikari is opening new connections with:

[code]

Even if i don't define the TRANSACTION_SERIALIZABLE level

[2022-11-15 14:03] Tapac commented on #1575
Hmm. it looks like `select version()` instantiate transaction before setting new transaction level.
Will try to understand where the request comes from (most likely Hikary checks the connection for rediness with it)

[2022-11-15 14:04] AlbRoehm commented on #1575
Also i think the problem was introduced sometime between 1.1.2022 and release of 0.38.1 where it first started to see it to happen.

[2022-11-15 14:21] AlbRoehm commented on #1575
I use the `select version()` in a healthCheck endpoint to check if database is ready. I thought it is viable to use it in this test but i just tried the same test with a table insertion and the error is not happening anymore. I really did not think that it could be connected to SelectVersion. I will try to check if i can produce the error with version 0.40.1 since when i initially encountered this

[2022-11-15 14:33] AlbRoehm commented on #1575
I use the `select version()` in a healthCheck endpoint to check if database is ready. I thought it is viable to use it in this test but i just tried the same test with a table insertion and the error is still happening.

[code]

[2022-11-15 15:07] ashishs commented on #1624
Even if this is created using a prepared statement, ther create missing columns method of the SchemaUtils breaks this. This happens in the code where indexes are checked. So creating the schema from code is not possible if XML indexes are used.

[2022-11-15 20:44] Tapac commented on #1575
Still can't reproduce with your code. The only thing I can find is `testCoroutine` - what is the function?
I've replaced it with `runBlocking` and everything goes smoothly.

One more question, am I right that you have the same isolation level on pool setup and in dbQuery?

[2022-11-15 21:48] Tapac commented on #1575
I've go the exception when I have different isolation levels and (!) when schema is defined on pool.
It looks like Hikari executes 'set path` (or something) to set default schema  and it initiates the transaction with pool level, so Exposed can't change it after that.

Can you, just of curious, try the same code with [that driver](https://github.com/impossibl/pgjdbc-ng)?

[2022-11-16 08:42] AlbRoehm commented on #1575
It fails with the same transaction level in hikari and in transaction. But i got the feeling that either one is setting it not, otherwise i don't get why hikari wants to reset the connection.
Sorry for the missing code parts, i have setup a full and complete example containing everything here.: https://github.com/AlbRoehm/ExposedErrorMinimalExample

[2022-11-16 09:41] AlbRoehm commented on #1575
Can you, just of curious, try the same code with [that driver](https://github.com/impossibl/pgjdbc-ng)? <- I tried that driver and the test did not fail, but if i understand it correctly there is also no connection pool involved that closes and reopens connections. So I'm not sure if it is comparable.

[2022-11-16 10:34] AlbRoehm commented on #1575
I think i found a pretty interesting thing that is related to the hikariConfig.schema property. I seems like there is something going wrong when hikari is creating the connection when the schema is set. It might be the case that with setting the schema property the transaction is already opened?

So i opened a branch for this case and i checked:
* Case1: Setting schema only via `SchemaUtils.setSch

[2022-11-16 11:03] AlbRoehm commented on #1575
After looking some more into the schema issue i found this ticket in the hikari repo. https://github.com/brettwooldridge/HikariCP/issues/1633
I tried the described the workaround and removed every other logic that did something with the schema.
That seemed to have resolved the problem. To be honest i don't fully understand but i think setting the schema is already part of a opened transaction?
May

[2022-11-16 14:30] hennihaus commented on #622
When I use the solution of @wellingtoncosta I just get zero results. Any ideas what I do wrong?

[2022-11-16 14:39] hennihaus commented on #622
I used a regular expression as a workaround:

[code]

[2022-11-17 09:29] zxcqirara opened #1632 "Create table with reference as primary key"
Is there any way to create table with using reference to entity as primary key?

[2022-11-17 14:02] kimble opened #1633 "0.41.1 causes exception when trying to read byte column from H2"
This commit turns even really short byte arrays into streams https://github.com/JetBrains/Exposed/commit/4a97034f0abfca04092e608ad99114e938e503e1

The call to reset on the input stream breaks Exposed with H2 because the InputStream implementation used by H2 doesn't implement reset. It also seems a bit wasteful to create a stream each time.

[code]

[2022-11-17 15:32] Tapac commented on #1633
@kimble what h2 version do you use? As there is a test on the blob field.

The idea is not to store bytes in the memory and back it with input stream.

It would help if you'll share some reproducible sample code.

[2022-11-18 08:42] kimble commented on #1633
I'm using H2 version 2.1.214.

I'll see if I'm able to make some sample code.

[2022-11-18 08:44] Tolsi opened #1634 "Users.username is not in record set"
Hi, I'm trying to do a simple operation of creating an object with a custom id:

[code]

but i get an error:

[code]

If you use `IntIdTable`, then there will be no error, but I want to have a table with a string id. I use Exposed 0.41.1

[2022-11-18 08:51] Tolsi commented on #1634
Linked to #1548. and ok, i remembered that making string as primary key in relational databases is not the best idea.

[2022-11-19 10:11] Tolsi commented on #1634
Found [this workaround](https://stackoverflow.com/questions/61938730/string-primary-key-with-jetbrains-exposed-library-kotlin/61940820#61940820) in docs
Besides this looks like a duplicate and there is a workaround, I will close this issue

[2022-11-19 10:11] #1634 closed

[2022-11-19 11:50] AlexeySoshin commented on #1630
I think I get what you mean.
What you're missing is the use of `via` function.
It's documented, but maybe we could do a better job.

[code]

[2022-11-19 12:24] AlexeySoshin commented on #1632
Sorry, not sure what you mean.
Could you provide an SQL example of what you're trying to do, please? Then we can see if it's possible to do this with Exposed.

[2022-11-19 12:32] AlexeySoshin commented on #1610
@lukas-krecan The reasoning behind this is that modifications are usually performed on the same table, while selects use joins.

This is consistent with how `insert` behaves:
https://github.com/JetBrains/Exposed/blob/990bff364176716e92cc1aac3a0217940da96513/exposed-core/src/main/kotlin/org/jetbrains/exposed/sql/Queries.kt#L69

Having said that, I agree with @Tapac that once we have context receive

[2022-11-22 19:33] Dashito14 opened #1635 "Many inserts with one call"
I have two questions:

Which type of file i need to create for create the database in Android Studio? Are there some example of a project with Exposed?

How can i insert many values in a table? I saw the examples `Users.insert(...) Users.insert(...)`
Are there a possibility to do something like `Users.insert([name='...'][name='...'])`?

[2022-11-23 12:55] floatdrop commented on #1428
This could be done in similar way, as in https://github.com/JetBrains/Exposed/issues/632 – through interceptors. But interceptors can not modify sql statement, which is needed by `sqlcommenter` to insert comment at the end of the query.

Other way is to inject sql comment into `Query` object, but it hard to wrap it into proxy object, because some fields (namely `groupedByColumns`, `having`, `forUp

[2022-11-23 14:38] AJRego commented on #1162
Hello. I have the same problem.

exposed: 0.40.1
sqlite-jdbc: 3.36.0.3

The problem with the date column is that it's stored in a format that sqlite doesn't recognize as a valid date, so all queries return null. This is very strange, because when entering data, the date is in "YYYY-MM-dd" format, but later in the database it appears as a string of integers.

Did you find any solution? I find it cu

[2022-11-24 00:43] AJRego commented on #1635
Hei @Dashito14.

First, since you are talking about file and android studio i will assume you are using sqlite, so the file extension doesn't really matter, you could even have a file with just your database name.

Second, I think [this](https://github.com/JetBrains/Exposed/wiki/DSL#batch-insert) might interest you.

[2022-11-24 08:28] Dashito14 commented on #1635
Hi, thank you for your answer.

Yes, i'm using sqlite, thx!

I saw that batch insert but i didn't understand how to use with tables that have more than one field. With a list is easy but if i want to _insert in Users the fields name, city, address and parent name,_ for example. How can i do a batch insert of this?

[2022-11-24 14:27] Dashito14 commented on #1635
My question is, how can i simplify this? In this example i have 4 inserts but i wanna do hundreds... didn't see good way to achieve this

![image](https://user-images.githubusercontent.com/48255774/203807717-467371cd-09b3-4742-a603-d9bd7983975c.png)

[2022-11-25 00:10] smelfungus opened #1636 "exposed-spring-boot-starter does not work with spring-boot v3.0.0"
May it be related to **jakarta** replacing **javax**?
https://spring.io/blog/2022/05/24/preparing-for-spring-boot-3-0

Jakarta EE 9 a new top-level jakarta package, replacing EE 8’s javax top-level package. For example, the Servlet specification in Jakarta EE 8 uses a javax.servlet package but this has changed to jakarta.servlet in EE 9.

[2022-11-25 14:06] neetkee commented on #1636
I guess we should also get rid of `spring.factories` and replace it with different file: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-3.0-Migration-Guide#auto-configuration-files

[2022-11-26 18:18] dummyco commented on #1636
@neetkee, indeed, that's the main reason

[2022-11-27 14:34] leazardy commented on #1623
Hey @Tapac! How I can use it with update statement?
e.g. `MyTable.update( {<where statement>}, forUpdate = MODE.SKIP_LOCKED ) { <update statement> }`

[2022-11-27 21:10] simboel opened #1637 "Outer Transaction will create entities from failed inner transaction"
**Problem**

When an inner (as in nested) transaction will throw an exception and the outer transaction code will catch this exception, all entities from the inner transaction will be created.

This is especially problematic in tests where the test method will open a transaction (by default via Interceptor) and then call a Service which internally creates a transaction, too.

**Context**

Spring B

[2022-11-30 12:18] lehvolk commented on #1581
No. Something like this:

[code]